{
    "presets": [
        "@babel/preset-env",
        [
            "@babel/preset-react",
            {
                "corejs": 3.15,
                "useBuiltIns": "usage",
                "targets": "> 0.25%, not dead, not ie 11"
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-react-display-name", "@babel/plugin-transform-parameters", "@babel/plugin-transform-async-to-generator","@babel/plugin-transform-function-name"]

}