@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
    margin: 0px;
    color: #ccc;
    overflow: hidden;
    font-family: "Yusei Magic", sans-serif;
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main > .background {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background-color: #24252a;
}


#main > .info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main > .info > img {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 3px solid #ccc;
}

#main > .info > h1 {
    color: #f0f0f0;
    text-align: center;
    font-weight: normal;
    margin: 2px 0px 12px 0px;
}

#main > .info > .buttons {
    display: flex;
}

#main > .info > .buttons > a {
    color: #ccc;
    margin: 0px 8px;
    font-size: large;
    padding: 8px 18px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: filter 250ms;
    background-color: #637cf6;
}

#main > .info > .buttons > a:first-child {
    margin-left: 0px;
}

#main > .info > .buttons > a:last-child {
    margin-right: 0px;
}

#main > .info > .buttons > a:hover {
    filter: brightness(0.85);
}

@media (max-width: 425px) {
    #main > .info > .buttons {
        flex-direction: column;
    }

    #main > .info > .buttons > a {
        margin: 0px 0px 10px 0px;
    }

    #main > .info > .buttons > a:last-child {
        margin: 0px;
    }
}